@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
  Note: The styles for this gradient grid background is heavily inspired by the creator of this amazing site (https://dub.sh) – all credits go to them! 
*/
.main {
    position: relative;
    width: 100%;
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
}

@media screen and (max-width: 640px) {
    .main {
        padding: 0;
    }
}


/* Tailwind Styles */

.orange_gradient {
    @apply bg-gradient-to-r from-amber-500 via-orange-600 to-yellow-500 bg-clip-text text-transparent;
}
.green_gradient {
    @apply bg-gradient-to-r from-green-400 to-green-500 bg-clip-text text-transparent;
}
.blue_gradient {
    @apply bg-gradient-to-r from-blue-600 to-cyan-600 bg-clip-text text-transparent;
}
.desc {
    @apply mt-5 text-lg text-gray-600 sm:text-xl max-w-2xl;
}

/* Nav Component */
.dropdown {
    @apply absolute right-0 top-full mt-3 w-full p-5 rounded-lg bg-white min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.flex-center {
    @apply flex justify-center items-center;
}
.flex-start {
    @apply flex justify-start items-start;
}
.flex-end {
    @apply flex justify-end items-center;
}
.flex-between {
    @apply flex justify-between items-center;
}
